/* Sharing section css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav section css= */

nav{
    background: #FFF;
    padding: 20px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: auto;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1{
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
}
.logo .h1-logo-design{
   background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
   color: transparent;
   -webkit-background-clip: text ;
   background-clip: text;
}
.nav-item{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list ul{
    display: flex;
    gap: 15px;
}
ul li{
    list-style: none;

}
.list ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.subcribe{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 12px;
}
.subcribe ul{
    display: flex;
    gap: 15px;
    align-items: center;
}
.subcribe ul li{
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
.fa-circle-play,
.fa-arrow-down{
    color: red;
    font-size: 25px;
}
.fa-arrow-down{
    padding-right: 6px;
}
.fa-brands{
    text-shadow: 1px 1px 1px red;
}

/* banner sectin start   */
.benner{
    background-image:   linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%), url("../images/Group\ 14.png");
    background-size: 50%;
    background-repeat: no-repeat;
}
.benner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    
}

.benner-content h1{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.benner-content h2{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 15px;
}
.benner-content p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
div > button{
    padding: 20px 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    margin: 20px 15px 20px 0;
    border: none;
}
.benner-content .btn1{
    background:#FF42A5;
}
.benner-content .btn2{
    background-color: #4EC5F7;
}
.benner-img img{
    width: 100%;
}
.benner-img{
    width: 50%;
}
/* banner sectin end   */


/* gamer section css */
.gamer{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
    padding: 50px 0;
}
.gamer-container{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.gamer-img img{
    width: 100%;
}
.gamer-content{
    width: 65%;
    text-align: right;
}
.gamer-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.gamer-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 8px;
}
.gamer-content button{
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    position: relative;
    right: 0;
}
.gamer-content h4{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* online gamer funny videos */
.online-game{
    text-align: center;
    margin: 50px 0;
}
.online-game h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-game p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.online-game .funny{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.video-container{
    display: flex;
    max-width: 75%;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.video{
    width: 25%;
    height: 400px;
    position: relative;
}
.video p{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    position: relative;
    margin-top: 20px;
}
.video img{
    width: 100%;
}
.hover-item{
    position: absolute;
    top: 0;
    bottom:  28%;
    right: 0px;
    left: 0px;
    width: 100%;
    margin:  auto;
    opacity: 0;
}
.hover-item p{
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    bottom: 47%;
    text-align: center;
}
.hover-item img{
    width: 20%;
    height: 25%;
    margin: 40% auto;
}
.hover-item:hover{
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60));
}

/* play onstant gam e */

.play-game{
    display: flex;
    gap: 150px;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}
.play-game-content{
    width: 50%;
    text-align: right;
    padding: 10% 10px;
}
.play-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.play-game-content h1{
    color: #0B0223;
    line-height: 60px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.play-game-content p{
    color: #534C64;
    line-height: 30px;
    padding:0 0 0 35px;
    font-size: 18px;
    font-weight: 400;
}
.play-game-img{
    width: 50%;
    height: 100%;
}
.play-game-img img{
    width: 100%;
}
.sub-img img{
    width: 50%;
}
.sub-img {
    position: relative;
    right: 15%;
    bottom: 195px;
}

/* Careers section css */
.careers{
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.career-content{
    padding-left: 12%;
}
.career-content, .career-img{
    width: 50%;
}
.career-content h1{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.career-content p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}
.keywords{
    display: flex;
    justify-content: space-between;
}
.keywords p{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.keywords-plase p{
    text-align: right;
}
.career-img img{
    width: 100%;
    height: 100%;
}
.career-content button{
    color: #F948B2;
    background-color: #fff;
}

/* Sponsors css section  */

.sponsors-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.sponsors-container{
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    gap: 3%;
}
.sponsors{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    background: #FFF;
    margin-bottom: 10px;
}
.sponsors:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
.sponsors p{
    font-size: 18px;
    font-weight: 500;

}

footer{
    background-color: #0B0223;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    max-width: 80%;
    margin: auto;
}
.footer-heading{
    margin: 10px 0;
}
.footer-heading a{
    margin: 0 20px;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 600;
}
.footer-menu{
    margin: 10px 0;
}
.footer-menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 16px;
    margin: 0 20px;
    padding: 10px 0;
}
.social-icon{
    margin: 10px 0;
}
.social-icon i{
    font-size: 46px;
    color: white;
    margin: 0 15px;
    cursor: pointer;
    text-shadow: none;
}
footer p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}


/* Responsive mobile css setion == */
@media screen and (max-width:630px) {
    .nav-container,
    .nav-item, 
    .list ul,
    .gamer-container,
    .play-game,
    .careers-container{
        flex-direction: column;
    }
    .footer-heading,
    .footer-menu,
    .social-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
    .career-content{
        padding-left: 0;
    }
    
    .benner-container{
        flex-direction: column-reverse;
        max-width: 95%;
    }
    .benner{
        background: none;
    }
    /* .sponsors-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } */
    
    .benner-img,
    .gamer-content,
    .play-game-content,
    .play-game-img{
        width:95%;
        text-align: center;
    }
    .career-content, .career-img{
        width: 85%;
        margin: 20px auto;
    }
    .play-game-content p{
        padding: 0;
    }
    .play-game-img {
        margin: 50px;
    }
    .sub-img {
        position: relative;
        right: 45%;
        bottom: 150px;
    }
    .benner-content h1{
        font-size: 36px;
    }
    .benner-content h2{
        font-size: 70px;
    }
    .benner-content p,
    .fa-circle-play,
    .fa-arrow-down{
        font-size: 14px;
    }
    div > button{
        padding: 10px 12px;
    }
    .video-container{
        flex-direction: column;
        max-width: 95%;
        margin:30px auto;
        justify-content: center;
        align-items: center;
        gap: 150px;
    }
    .video p{
        text-align: center;
    }
    .video{
        width: 85%;
        height: 400px;
    }
    .video img{
        width: 100%;
        height: 95%;
    }
    .hover-item{
        position: absolute;
        top: 0;
        bottom:  5%;
        right: 0px;
        left: 0px;
        width: 100%;
        margin:  auto;
        opacity: 0;
        border-radius: 25px;
    }
    .hover-item img{
        margin: 10px auto;
        width: 15%;
    }
    
    
    
    .benner-content{
        background-image:   linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%), url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items:center;
        padding: 50px 0;

        text-align: left;
        width: 90%;
        margin: 40px 0;
        flex-direction: column;
    }
    .logo, .list{
        margin-bottom: 15px;
    }
}



/* rsponsive tablet css section */

@media screen and (min-width: 630px) and (max-width:1020px) {
    .nav-container,
    .gamer-container,
    .play-game,
    .careers-container{
        flex-direction: column;
        gap: 30px;

    }
    .sponsors-container{
        display: grid;
        padding: 50px 10%;
        grid-template-columns: repeat(3, 1fr);
    }
    .career-content{
        padding: 0;
    }
    .career-content, .career-img{
        width: 80%;
        margin: 20px auto;
    }
    .benner-container{
        flex-direction: column-reverse;
        max-width: 85%;
    }
    .benner{
        background: none;
    }
    
    .benner-img{
        width:95%;
    }
    .gamer-content{
        width: 90%;
        text-align: center;
    }
    .benner-content{
        background-image:   linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%), url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items:center;
        padding: 50px 0;

        text-align: left;
        width: 90%;
        margin: 40px 0;
        flex-direction: column;
    }
    .video-container{
        flex-direction: column;
        max-width: 95%;
        margin:30px auto;
        justify-content: center;
        align-items: center;
        gap: 150px;
    }
    .video p{
        text-align: center;
    }
    .video{
        width: 85%;
        height: 400px;
    }
    .video img{
        width: 100%;
        height: 95%;
    }
    .hover-item{
        position: absolute;
        top: 0;
        bottom:  5%;
        right: 0px;
        left: 0px;
        width: 100%;
        margin:  auto;
        opacity: 0;
        border-radius: 25px;
    }
    .hover-item img{
        margin: 10px auto;
        width: 15%;
    }
    .play-game-content,
    .play-game-img{
        width:85%;
        text-align: center;
    }
    .play-game-content,
    .play-game-img
    {
        margin: 0 auto;
        width:95%;
        text-align: center;
    }
    .play-game-content p{
        padding: 0;
    }
    .play-game-img {
        margin: 50px;
    }
    .sub-img {
        position: relative;
        right: 40%;
        bottom: 200px;
    }
    .footer-heading,
    .footer-menu,
    .social-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
}